*
.footer{
    background-color: black;
    color: azure;
    height: 100px;
}
.footer-bottom {
    background-color: black;
    color: azure;
}


main {

    height: 800px;
}

.background{


}


#background-carousel{
    position:fixed;
    width:100%;
    height:100%;


}
.carousel,
.carousel-inner {
    width:100%;
    height:100%;
    overflow:hidden;

}
.item {
    width:100%;
    height:100%;
    background-position:center center;
    background-size:cover;


}
.modal-body {
    height: 400px;
    width: 200px;
}

.restaurant {
    margin: 0 auto;
}
.restaurant p, .restaurant h2 {
    display: block;
    margin: auto;
    text-align: center;
}

.restaurant img {
    display: block;
    margin: auto;
}





