*
.footer{
    background-color: black;
    color: azure;
    height: 100px;
}
.footer-bottom {
    background-color: black;
    color: azure;
}


main {

    height: 800px;
}

.background{


}


#background-carousel{
    position:fixed;
    width:100%;
    height:100%;
    z-index:-1;

}
.carousel,
.carousel-inner {
    width:100%;
    height:100%;
    overflow:hidden;
    z-index:0;

}
.item {
    width:100%;
    height:100%;
    background-position:center center;
    background-size:cover;
    z-index:0;

}

#content-wrapper {
    position: absolute;
    z-index: 1 ;
    min-width: 100%;
    min-height: 100%;
}

.well {
    opacity:0.85;
}
.modal-body {
    height: 400px;
    width: 200px;
}

.restaurant {
    margin: 0 auto;
}
.restaurant p, .restaurant h2 {
    display: block;
    margin: auto;
    text-align: center;
}

<<<<<<< HEAD
.title{ color:black; font-size:40px; }

img{
width: 100%;


=======
.restaurant img {
    display: block;
    margin: auto;
>>>>>>> 83070c57dc5e4c38bd55d8fc92809b85c7cc02fd
}





