/* General settings */
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Oswald|Raleway|Roboto+Condensed|Satisfy');

body {
    background-color: rgba(255, 249, 143, 0.5);
    font-family: 'Roboto Condensed', sans-serif;
}

.section-heading {
    padding-bottom: 2em;
    font-family: 'Satisfy', cursive;
}
.page-heading {
    font-family: 'Satisfy', cursive;
    font-size: 2.6em;
    padding: 1em;
}
.image-heading {
    font-family: 'Satisfy', cursive;
    font-size: 2em;
    padding; 0.3em;
    margin-bottom: 1em;
}
.restaurant-page img {
    width: 100%;
}
/* Footer */
.footer{
    background-color: rgba(34, 34, 34, 1);
    color: azure;
}
.social-links {
    list-style: none;
    padding:0;
    margin:0;
}
.social-links li {
    text-decoration: none;
    display: inline;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.social-links a {
    display: inline-block;
    font-size: 1.4em;
    color: orangered;
}
.vertical-center {
    vertical-align: middle;
}

/* Navigation bar in the header */
.navbar-right {
    font-size: 1.5em;

 /*   text-transform: uppercase; */
 }
.navbar-default .navbar-brand {
    color: orangered;
    font-family: 'Satisfy', cursive;
    font-size: 2.5em;
}
.navbar-default .navbar-nav > li > a {
    color: whitesmoke;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    display: block;
    font-size: 1.04em;
    color: whitesmoke;
}
/* Dropdown menu*/
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover{
    background-color: rgba(34, 34, 34, 1) !important;
    color:  whitesmoke !important;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover{
    font-size: 1.5em;
}
.dropdown-menu {
    background-color: rgba(34, 34, 34, 1) !important;
    color: whitesmoke !important;
}
.dropdown-menu > li > a,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-color: rgba(34, 34, 34, 1) !important;
    color: whitesmoke !important;
}

/* Restaurants page*/
.restaurant-page {
    width: 100%;
    margin: 5% auto;
}
.divider {
    width: 12%;
    margin: 0 auto;
}
.divider-small-screen {
    display: none;
}
.restaurant-navigation {
    margin: 0 auto;
}
.restaurant-navigation a {
    text-decoration: none;
    color: rgba(34, 34, 34, 1);
    font-size: 1.5em !important;
}
.restaurant-navigation a h3{
    font-size: 1.2em !important;
}
.restaurant-navigation  a :hover,
.restaurant-navigation a:focus {
    color: orangered;
    text-decoration: none;
    outline: none;
}
/* Modal settings*/
.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    opacity: 1 !important;
    text-align: center;
    border: none;
}
.modal-header {
    border: none;
}
.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    background-color: whitesmoke;
}
.modal-header span {
    font-size: 2em;
}
.modal-body > .section-heading {
    padding-bottom: 0.5em;
}
.modal-body > .divider {
    padding:0;
}


/*homepage */

.head-restaurant {   /*Titre de la page */
    width: 100%;
    margin-top: 10%;
    margin-bottom : 3%;
    margin-left: 5%;
    font-family: 'Satisfy', cursive;
    font-size: 4.2em;
    padding: 1em;
    color : orangered;
    text-align : center;
}
#background-carousel{  /*fond écran de la page */
    position:fixed;
    width:100%;
    height:100%;
    z-index:-1;
}
.restaurant{ /*button Nos restaurant*/
    font-family: 'Satisfy', cursive;
    font-size: 2.3em;
    margin-top: auto 5% ;
    color: #fff293;
}
.fond{
  margin: auto 5%; /*fond button*/
}
#content-wrapper { /*regroup title, concept, button,*/
    z-index: 1;
    min-width: 100%;
    min-height: 100%;

}
.description{      /*paragrah*/
    font-family: 'Oswald', sans-serif;
    font-size: 1.6em;
    color : #fff293;
}
.well {                /*grey background*/
    width: 100%;
    margin-top:5%;
    margin-bottom: 26%;
    background-color: rgba(34, 34, 34, 0.65);
    border-radius: 15px;
}

@media (max-width:480px) {
    .well {
        width: 100%;
        margin-bottom: 5%;

    }

    .head-restaurant {

        padding-bottom: 0;
        margin-left: 3%;
        margin-top: 5%;
    }
    .titreDevenir { /*container*/
        margin-top: 15%;
}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .head-restaurant {
        margin-top: 15%;
        margin-right: 25%;
        margin-left: 2%;
    }

    .well {
        width: 100%;
        margin-top: 15%;
        margin-bottom: 35%;
    }




/*
    @media only screen and (min-device-width : 1025px) and (max-device-width : 1366px) { /* STYLES GO HERE */}
/*
    .back{
        height:100%;
    }
    .well {
        width: 100%;
        margin-top: 30%;
        margin-bottom: 45%;
    }

    .head-restaurant {
        margin-top: 25%;
        margin-right: 25%;
        margin-left: 2%;

    }

}

*/


    /*fin homepage*/

/*Devenir Franchisé */
.formulaire{
    background-color: rgba(34, 34, 34, 0.65) ;  /*background form*/
    border-radius: 15px;
    border-color: white;
    border-style : solid;
    border-width: 1px;
    padding: 10px;
    margin-bottom: 1%;
    z-index: 1;

}

.titreDevenir{      /*Comment devenir franchisé titre*/

    font-family: 'Satisfy', cursive;
    font-size: 3.2em;
    color : orangered;
}

.devenir{           /*container*/
    margin-top: 3%;

}

.comment{                       /*commentaire devenir franchisé*/
    z-index:1;
    color: #fff293;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}

label{
    font-family: 'Oswald', sans-serif; /* title form*/
    color: #fff293;


}

#nomrestaurant::placeholder, #firstname::placeholder, #lastname::placeholder, /*placeholder = char du formulaire*/
#téléphone::placeholder, #email::placeholder, #commentaires::placeholder {
    color:black;
    font-size : 1.2em;
}


#nomrestaurant, #firstname, #lastname, #téléphone, #email, #commentaires { /*background input*/
    background-color: #fff293;
    color: black;

}

.envoi{       /*button*/
    margin-top:2%;
    text-align:center;
}
/*Fin Devenir Franchise*/

/*contact*/
.masthead img{
    width:100%;
}

/* Restaurants page*/
.restaurant-page {
    width: 100%;
    margin: 5% auto;

}
.divider {
    width: 12%;
    margin: 0 auto;
}
.divider-small-screen {
    display: none;
}

.restaurant-navigation {
    margin: 0 auto;
}
.restaurant-navigation a {
    text-decoration: none;
    color: rgba(34, 34, 34, 1);
    font-size: 1.5em !important;
}
.restaurant-navigation a h3{
    font-size: 1.2em !important;
}
.restaurant-navigation  a :hover,
.restaurant-navigation a:focus {
    color: orangered;
    text-decoration: none;
    outline: none;
}

/* Modal settings*/
.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    opacity: 1 !important;
    text-align: center;
    border: none;

}
.modal-header {
    border: none;
}

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    background-color: whitesmoke;
}
.modal-header span {
    font-size: 2em;
}
.modal-body > .section-heading {
    padding-bottom: 0.5em;
}
.modal-body > .divider {
    padding:0;
}

@media screen and (max-width: 992px) {
    .navbar-default .navbar-brand {
        font-size: 2em;
    }
    .navbar-right {
        font-size: 1.4em;
    }
    .restaurant-navigation a h3 {
        font-size: 1.1em !important;
    }
    .divider-small-screen {
        display: block;
    }
    .modal-header span {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 768px) {
    .navbar-right {
        font-size: 1em;
    }
}



